* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-size: 1.6rem;
    color: #444;
    background-image: linear-gradient(to right bottom, #93cfd8, #4d476b);
}

.container {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 4fr;
    max-width: 1080px;
    margin: 4rem auto;
    padding: 2em;
    background-color: #f4f4f4;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

.pdf-button {
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #5d7bab;
    border-color: #5d7bab;
    text-transform: uppercase;
    text-decoration: none;
}

.pdf-button:hover {
    background-color: #5d7bab;
    color: white;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
}

.section {
    padding: 4rem;
    margin: 1rem;
}

.section-title {
    float: right;
}

.panel {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 10px 0px;
    border-radius: 20px;
}

.main {
    text-align: center;
}

.icon {
    color: #8e8e8e;
}

.infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
}

.social-icons {
    font-size: 3rem;
    letter-spacing: 0.8rem;
}

.social-icons a {
    color: #5d7bab;
    text-decoration: none;
}

.social-icons a:hover {
    color: #435777;
    text-decoration: none;
}

.photo {
    height: 17rem;
    border-radius: 50%;
    box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

h2 {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    color: #7a7979;
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 4rem;
}

h4 {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #5d7bab;
}

h5 {
    font-size: 1.4rem;
    font-weight: 300;
    color: #8e8e8e;
}

.section-title {
    color: #8e8e8e;
}

.experience-section {
    margin-bottom: 5rem;
    border-bottom: #b4b4b4;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.skill-type {
    color: #8e8e8e;
}

.period {
    float: right;
    color: white;
    font-size: 1.2rem;
    background-color: #839fbb;
    border-radius: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1rem;
}

.title {
    padding: 1rem;
    padding-left: 3rem;
}

.section-img {
    height: 5rem;
}

.footer {
    text-align: center;
    font-size: 1.2rem;
    color: #c5c4c4;
}

.footer a {
    color: #c5c4c4;
}

.section-list {
    padding: 2rem;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 60%;
    }

    .container {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        margin: 1rem;
    }

    .container div {
        grid-column: span 2;
    }

    .title {
        justify-items: center;
    }

    .section {
        padding: 3rem;
    }

    .infos {
        text-align: center;
    }

    .section-header {
        float: right;
        text-align: center;
        padding-bottom: 0.1rem;
        padding-top: 1rem;
    }

    .section-title {
        float: none;
        margin-bottom: 0;
    }

    .period {
        float: none;
        text-align: center;
        max-width: 15rem;
        margin: auto;
        margin-top: 1rem;
    }

    h4 {
        text-align: center;
    }

    h5 {
        text-align: center;
    }

    .title {
        text-align: center;
    }

    .skills-list {
        text-align: center;
    }

    .skill-type {
        margin-top: 1rem;
    }
    
}